USE [ISAPabrikProduksi]
GO
/****** Object:  StoredProcedure [dbo].[rsp_BahanBaku_Melting]    Script Date: 09/08/2022 08:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Agus S
-- Create date: 14 November 2017
-- Description:	Laporan Melting
-- =============================================
ALTER PROCEDURE [dbo].[rsp_BahanBaku_Melting]
@fromdate date ,--='20170901',
@todate date ,--='20170930',
@LiniProduksiRowID uniqueidentifier ='DDE3C327-C50E-4309-97E3-8F8C93B5569C'
AS
BEGIN
	declare @MaterialRowID uniqueidentifier

	declare @tabelMat table
	(
		RowID uniqueidentifier,
		KdMaterial varchar(100),
		NmMaterial varchar(250)
	)

	declare @tabelMatHasil table
	(
		RowID uniqueidentifier,
		KdMaterial varchar(100),
		NmMaterial varchar(250),
		Approved varchar,
		Approvedby varchar,
		ApprovedDate varchar
	)

	insert @tabelMat
	select RowID, KdMaterial, NmMaterial from ISAPabrik.dbo.Material
	where RowID in
	(
	'530AE359-6EC4-4CA7-A9F3-091815F55C48',
	'5BC20CEE-900E-4528-84EF-1ACABD8D1716',
	'51C314F3-AA02-4A04-A67E-5C56B98B3850',
	'C82BF319-5CDF-4292-90B5-802746CC0AD2',
	'94030DD6-E993-4237-A28C-80E430BE718B'
	)
	and [Status] = 1

	insert @tabelMatHasil
	select distinct hpwod.IDMaterial, mt.KdMaterial, mt.NmMaterial ,hpwo.Approved,hpwo.		  Approvedby,hpwo.ApprovedDate
	from HasilProsesWO hpwo
	join HasilProsesWODetail hpwod on hpwod.IDHPWO = hpwo.RowID
	join HasilProsesWOKDetail hpwokd on hpwokd.IDHPWOD = hpwod.RowID
	join ISAPabrik.dbo.ProsesMesin pm on pm.RefRowID = hpwo.RowID
	join ISAPabrik.dbo.Mesin m on m.RowID = pm.MesinRowID
	join ISAPabrik.dbo.Material mt on mt.RowID = hpwod.IDMaterial
	where IDLiniProduksi = @LiniProduksiRowID
	and TglProses between @fromdate and @todate
	and hpwo.Approved = '1'
	and hpwokd.IDMaterial in
	(
		'530AE359-6EC4-4CA7-A9F3-091815F55C48',
		'5BC20CEE-900E-4528-84EF-1ACABD8D1716',
		'51C314F3-AA02-4A04-A67E-5C56B98B3850',
		'C82BF319-5CDF-4292-90B5-802746CC0AD2',
		'94030DD6-E993-4237-A28C-80E430BE718B'
	)

	select * from @tabelMatHasil order by KdMaterial

	DECLARE Detail CURSOR LOCAL FOR	
	select RowID from @tabelMatHasil order by KdMaterial

	OPEN Detail

	FETCH NEXT FROM Detail
	INTO @MaterialRowID

	WHILE @@FETCH_STATUS = 0
	BEGIN

		select 
			rs.KdMesin,
			rs.NmMesin,
			rs.KdMaterial,
			rs.NmMaterial,
			rs.Approved,
			rs.Approvedby,
			rs.ApprovedDate,
			SUM(rs.qty) as Total,
			SUM(case when dayproses ='11' then rs.Qty else 0 end) as '11',
			SUM(case when dayproses ='12' then rs.Qty else 0 end) as '12',
			SUM(case when dayproses ='13' then rs.Qty else 0 end) as '13',
			SUM(case when dayproses ='21' then rs.Qty else 0 end) as '21',
			SUM(case when dayproses ='22' then rs.Qty else 0 end) as '22',
			SUM(case when dayproses ='23' then rs.Qty else 0 end) as '23',
			SUM(case when dayproses ='31' then rs.Qty else 0 end) as '31',
			SUM(case when dayproses ='32' then rs.Qty else 0 end) as '32',
			SUM(case when dayproses ='33' then rs.Qty else 0 end) as '33',
			SUM(case when dayproses ='41' then rs.Qty else 0 end) as '41',
			SUM(case when dayproses ='42' then rs.Qty else 0 end) as '42',
			SUM(case when dayproses ='43' then rs.Qty else 0 end) as '43',
			SUM(case when dayproses ='51' then rs.Qty else 0 end) as '51',
			SUM(case when dayproses ='52' then rs.Qty else 0 end) as '52',
			SUM(case when dayproses ='53' then rs.Qty else 0 end) as '53',
			SUM(case when dayproses ='61' then rs.Qty else 0 end) as '61',
			SUM(case when dayproses ='62' then rs.Qty else 0 end) as '62',
			SUM(case when dayproses ='63' then rs.Qty else 0 end) as '63',
			SUM(case when dayproses ='71' then rs.Qty else 0 end) as '71',
			SUM(case when dayproses ='72' then rs.Qty else 0 end) as '72',
			SUM(case when dayproses ='73' then rs.Qty else 0 end) as '73',
			SUM(case when dayproses ='81' then rs.Qty else 0 end) as '81',
			SUM(case when dayproses ='82' then rs.Qty else 0 end) as '82',
			SUM(case when dayproses ='83' then rs.Qty else 0 end) as '83',
			SUM(case when dayproses ='91' then rs.Qty else 0 end) as '91',
			SUM(case when dayproses ='92' then rs.Qty else 0 end) as '92',
			SUM(case when dayproses ='93' then rs.Qty else 0 end) as '93',
			SUM(case when dayproses ='101' then rs.Qty else 0 end) as '101',
			SUM(case when dayproses ='102' then rs.Qty else 0 end) as '102',
			SUM(case when dayproses ='103' then rs.Qty else 0 end) as '103',
			SUM(case when dayproses ='111' then rs.Qty else 0 end) as '111',
			SUM(case when dayproses ='112' then rs.Qty else 0 end) as '112',
			SUM(case when dayproses ='113' then rs.Qty else 0 end) as '113',
			SUM(case when dayproses ='121' then rs.Qty else 0 end) as '121',
			SUM(case when dayproses ='122' then rs.Qty else 0 end) as '122',
			SUM(case when dayproses ='123' then rs.Qty else 0 end) as '123',
			SUM(case when dayproses ='131' then rs.Qty else 0 end) as '131',
			SUM(case when dayproses ='132' then rs.Qty else 0 end) as '132',
			SUM(case when dayproses ='133' then rs.Qty else 0 end) as '133',
			SUM(case when dayproses ='141' then rs.Qty else 0 end) as '141',
			SUM(case when dayproses ='142' then rs.Qty else 0 end) as '142',
			SUM(case when dayproses ='143' then rs.Qty else 0 end) as '143',
			SUM(case when dayproses ='151' then rs.Qty else 0 end) as '151',
			SUM(case when dayproses ='152' then rs.Qty else 0 end) as '152',
			SUM(case when dayproses ='153' then rs.Qty else 0 end) as '153',
			SUM(case when dayproses ='161' then rs.Qty else 0 end) as '161',
			SUM(case when dayproses ='162' then rs.Qty else 0 end) as '162',
			SUM(case when dayproses ='163' then rs.Qty else 0 end) as '163',
			SUM(case when dayproses ='171' then rs.Qty else 0 end) as '171',
			SUM(case when dayproses ='172' then rs.Qty else 0 end) as '172',
			SUM(case when dayproses ='173' then rs.Qty else 0 end) as '173',
			SUM(case when dayproses ='181' then rs.Qty else 0 end) as '181',
			SUM(case when dayproses ='182' then rs.Qty else 0 end) as '182',
			SUM(case when dayproses ='183' then rs.Qty else 0 end) as '183',
			SUM(case when dayproses ='191' then rs.Qty else 0 end) as '191',
			SUM(case when dayproses ='192' then rs.Qty else 0 end) as '192',
			SUM(case when dayproses ='193' then rs.Qty else 0 end) as '193',
			SUM(case when dayproses ='201' then rs.Qty else 0 end) as '201',
			SUM(case when dayproses ='202' then rs.Qty else 0 end) as '202',
			SUM(case when dayproses ='203' then rs.Qty else 0 end) as '203',
			SUM(case when dayproses ='211' then rs.Qty else 0 end) as '211',
			SUM(case when dayproses ='212' then rs.Qty else 0 end) as '212',
			SUM(case when dayproses ='213' then rs.Qty else 0 end) as '213',
			SUM(case when dayproses ='221' then rs.Qty else 0 end) as '221',
			SUM(case when dayproses ='222' then rs.Qty else 0 end) as '222',
			SUM(case when dayproses ='223' then rs.Qty else 0 end) as '223',
			SUM(case when dayproses ='231' then rs.Qty else 0 end) as '231',
			SUM(case when dayproses ='232' then rs.Qty else 0 end) as '232',
			SUM(case when dayproses ='233' then rs.Qty else 0 end) as '233',
			SUM(case when dayproses ='241' then rs.Qty else 0 end) as '241',
			SUM(case when dayproses ='242' then rs.Qty else 0 end) as '242',
			SUM(case when dayproses ='243' then rs.Qty else 0 end) as '243',
			SUM(case when dayproses ='251' then rs.Qty else 0 end) as '251',
			SUM(case when dayproses ='252' then rs.Qty else 0 end) as '252',
			SUM(case when dayproses ='253' then rs.Qty else 0 end) as '253',
			SUM(case when dayproses ='261' then rs.Qty else 0 end) as '261',
			SUM(case when dayproses ='262' then rs.Qty else 0 end) as '262',
			SUM(case when dayproses ='263' then rs.Qty else 0 end) as '263',
			SUM(case when dayproses ='271' then rs.Qty else 0 end) as '271',
			SUM(case when dayproses ='272' then rs.Qty else 0 end) as '272',
			SUM(case when dayproses ='273' then rs.Qty else 0 end) as '273',
			SUM(case when dayproses ='281' then rs.Qty else 0 end) as '281',
			SUM(case when dayproses ='282' then rs.Qty else 0 end) as '282',
			SUM(case when dayproses ='283' then rs.Qty else 0 end) as '283',
			SUM(case when dayproses ='291' then rs.Qty else 0 end) as '291',
			SUM(case when dayproses ='292' then rs.Qty else 0 end) as '292',
			SUM(case when dayproses ='293' then rs.Qty else 0 end) as '293',
			SUM(case when dayproses ='301' then rs.Qty else 0 end) as '301',
			SUM(case when dayproses ='302' then rs.Qty else 0 end) as '302',
			SUM(case when dayproses ='303' then rs.Qty else 0 end) as '303',
			SUM(case when dayproses ='311' then rs.Qty else 0 end) as '311',
			SUM(case when dayproses ='312' then rs.Qty else 0 end) as '312',
			SUM(case when dayproses ='313' then rs.Qty else 0 end) as '313'
	from
	(
		select distinct pm.MesinRowID, m.KdMesin, m.NmMesin, mt.KdMaterial, mt.NmMaterial, hpwo.TglProses,hpwo.Approved,hpwo.Approvedby,hpwo.ApprovedDate, hpwo.Shift, Convert(varchar(2),DATENAME(d, hpwo.TglProses)) + Convert(varchar(1),Shift) dayproses, SUM(hpwokd.Qty) Qty
		from HasilProsesWO hpwo
		join HasilProsesWODetail hpwod on hpwod.IDHPWO = hpwo.RowID
		join HasilProsesWOKDetail hpwokd on hpwokd.IDHPWOD = hpwod.RowID
		join ISAPabrik.dbo.ProsesMesin pm on pm.RefRowID = hpwo.RowID
		join ISAPabrik.dbo.Mesin m on m.RowID = pm.MesinRowID
		join ISAPabrik.dbo.Material mt on mt.RowID = hpwokd.IDMaterial
		where IDLiniProduksi = @LiniProduksiRowID
		and TglProses between @fromdate and @todate
		and hpwo.Approved = '1'
		and hpwokd.IDMaterial in
		(
			select RowID from @tabelMat
		)
		and hpwod.IDMaterial = @MaterialRowID
		group by pm.MesinRowID, m.KdMesin, m.NmMesin, mt.KdMaterial, mt.NmMaterial, hpwo.TglProses,hpwo.Approved,hpwo.Approvedby,hpwo.ApprovedDate, hpwo.Shift

		union all

		select distinct pm.MesinRowID, m.KdMesin, m.NmMesin, 'SCRAP', 'SCRAP', hpwo.TglProses,hpwo.Approved,hpwo.Approvedby,hpwo.ApprovedDate, hpwo.Shift, Convert(varchar(2),DATENAME(d, hpwo.TglProses)) + Convert(varchar(1),Shift) dayproses, SUM(hpwokd.Qty) Qty
		from HasilProsesWO hpwo
		join HasilProsesWODetail hpwod on hpwod.IDHPWO = hpwo.RowID
		join HasilProsesWOKDetail hpwokd on hpwokd.IDHPWOD = hpwod.RowID
		join ISAPabrik.dbo.ProsesMesin pm on pm.RefRowID = hpwo.RowID
		join ISAPabrik.dbo.Mesin m on m.RowID = pm.MesinRowID
		join ISAPabrik.dbo.Material mt on mt.RowID = hpwokd.IDMaterial
		where IDLiniProduksi = @LiniProduksiRowID
		and TglProses between @fromdate and @todate
		and hpwokd.IDMaterial not in
		(
			select RowID from @tabelMat
		)
		and hpwokd.TipeItem = 0
		and hpwo.Approved = '1'
		and hpwod.IDMaterial = @MaterialRowID
		group by pm.MesinRowID, m.KdMesin, m.NmMesin, hpwo.TglProses,hpwo.Approved,hpwo.Approvedby,hpwo.ApprovedDate, hpwo.Shift
	)rs
	group by rs.KdMesin, rs.NmMesin, rs.KdMaterial,	rs.NmMaterial,rs.Approved,rs.Approvedby,rs.ApprovedDate

	FETCH NEXT FROM Detail
	INTO @MaterialRowID
	END

	CLOSE Detail
	DEALLOCATE Detail
END

